<html lang = "en">
  <head>
    <title>Befit Collections</title>
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="styles.css">
  </head>
  <body style="background-color:#ffe6e6;">
    <div class="container">
      <h2>Add a New Product</h2>
      <form class="form-horizontal" action="/AddData" method="POST" >
        <div class="form-group">
          <label class="control-label col-sm-2" for="Product-Id">Product-Id:</label>
          <div class="col-sm-10">
            <input type="number" class="form-control" id="prod_cat" placeholder="Enter Product-Id" name="prod_id">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="Product-Category:">Product-Category</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="prod_cat" placeholder="Enter Product-Category" name="prod_cat">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="Product-Type">Product-Type:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="type" placeholder="Enter product type" name="prod_type">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="product-colour">Product-Colour:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="type" placeholder="Enter Product-Colour" name="prod_col">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="product-size">Product-Size:</label>
          <div class="col-sm-10">          
            <input type="text" class="form-control" id="type" placeholder="Enter product-Size" name="prod_size">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="product-stock">Product-Stock:</label>
          <div class="col-sm-10">          
            <input type="number" class="form-control" id="type" placeholder="Enter Product-Stock" name="stock">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="product-cost">Product-Cost:</label>
          <div class="col-sm-10">          
            <input type="number" class="form-control" id="type" placeholder="Enter Product-Cost" name="prod_cost">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="selling-price">Selling-Price:</label>
          <div class="col-sm-10">          
            <input type="number" class="form-control" id="type" placeholder="Enter Selling-Price" name="selling_price">
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label><input type="checkbox" name="remember"> Remember me</label>
            </div>
          </div>
        </div>
        <div class="form-group">        
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>
    </div>
    
    <a href="/" class="c2">Home Page</a>
  </body>
  <br>
  <br>
  <br>

  <br>
  <br>
  <br>
  
  <br>
  <br>
  <footer>Copyright&#169Befit Collections</footer>
</html>